{
    "RootNamespace": "Serene1",
    "Connections": [
        {
            "Key": "CLINVP",
            "ConnectionString": "Data Source=20.30.40.42; Initial Catalog=AKTUA; User id=sa;password=P@ssw0rd",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.PLANTILLA_CORREO",
                    "Identifier": "PlantillaCorreo",
                    "Module": "DBO",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tablas",
                    "Identifier": "Tablas",
                    "Module": "DBO",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MODULO",
                    "Identifier": "Modulo",
                    "Module": "DBO",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.GRUPOS",
                    "Identifier": "Grupos",
                    "Module": "CLIN",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "AS.ESTADOS",
                    "Identifier": "Estados",
                    "Module": "CLIN",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "AS.PAIS",
                    "Identifier": "Pais",
                    "Module": "CLIN",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "AS.PROFESIONES",
                    "Identifier": "Profesiones",
                    "Module": "CLIN",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.APP_CAMPOS",
                    "Identifier": "AppCampos",
                    "Module": "CLIN",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.APP_FORMULARIO",
                    "Identifier": "AppFormulario",
                    "Module": "CLIN",
                    "ConnectionKey": "CLINVP",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=localhost; Initial Catalog=Serene1_Default_v1; User id=sa;password=P@ssw0rd",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=localhost; Initial Catalog=Serene1_Northwind_v1;  User id=sa;password=P@ssw0rd",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Serene1\\Serene1.Web\\Serene1.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}