@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CLIN.AppFormulario.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene1.CLIN.AppFormularioGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>